infrastructure/workflows/user-signup.json
{
  "name": "User Signup Workflow",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "user-signup-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event}}",
              "operation": "equal",
              "value2": "user.signup"
            }
          ]
        }
      },
      "id": "validate-event",
      "name": "Validate Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "users",
        "columns": "id, email, name, provider, account_type, signup_completed_at",
        "additionalFields": {
          "returnFields": "*"
        }
      },
      "id": "insert-user",
      "name": "Insert User to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [680, 180],
      "credentials": {
        "postgres": {
          "id": "supabase-staging",
          "name": "Supabase Staging DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "newsletter_subscribers",
        "columns": "email, name, source, subscribed_at",
        "additionalFields": {
          "returnFields": "*"
        }
      },
      "id": "add-newsletter",
      "name": "Add to Newsletter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@shonen-ark.com",
        "toEmail": "={{$json.data.email}}",
        "subject": "🌸 Welcome to Shonen Ark - Your Mystical Anime Journey Begins!",
        "emailFormat": "html",
        "html": "<div style=\"font-family: 'Inter', sans-serif; max-width: 600px; margin: 0 auto; background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%); color: #ffffff; padding: 40px 20px; border-radius: 12px;\">\n  <!-- Header -->\n  <div style=\"text-align: center; margin-bottom: 40px;\">\n    <img src=\"https://your-domain.com/brand-logo.png\" alt=\"Shonen Ark\" style=\"height: 60px; margin-bottom: 20px;\">\n    <h1 style=\"color: #d4af37; font-size: 28px; font-weight: 700; margin: 0; text-shadow: 0 2px 4px rgba(0,0,0,0.3);\">Welcome to Shonen Ark!</h1>\n    <div style=\"width: 60px; height: 3px; background: linear-gradient(90deg, #667eea 0%, #764ba2 100%); margin: 20px auto;\"></div>\n  </div>\n\n  <!-- Welcome Message -->\n  <div style=\"background: rgba(255,255,255,0.1); backdrop-filter: blur(10px); border-radius: 12px; padding: 30px; margin-bottom: 30px; border: 1px solid rgba(255,255,255,0.2);\">\n    <h2 style=\"color: #ffffff; font-size: 20px; margin-bottom: 16px;\">Hello {{$json.data.name || 'Fellow Anime Fan'}},</h2>\n    <p style=\"color: #e0e0e0; line-height: 1.6; margin-bottom: 20px;\">Your mystical journey into the world of anime theories and fan creations starts now! 🎋</p>\n    \n    <div style=\"background: linear-gradient(135deg, rgba(212, 175, 55, 0.1) 0%, rgba(212, 175, 55, 0.05) 100%); border-left: 4px solid #d4af37; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n      <h3 style=\"color: #d4af37; font-size: 16px; margin: 0 0 12px 0;\">✨ What awaits you:</h3>\n      <ul style=\"color: #e0e0e0; margin: 0; padding-left: 20px; line-height: 1.8;\">\n        <li>🎎 AI-powered theory generation and analysis</li>\n        <li>🏮 Premium content and exclusive creator features</li>\n        <li>📅 Real-time anime calendar and release tracking</li>\n        <li>🎨 Community-driven fan art and animation showcase</li>\n        <li>⛩️ Traditional Japanese aesthetic with modern functionality</li>\n      </ul>\n    </div>\n  </div>\n\n  <!-- Quick Actions -->\n  <div style=\"background: rgba(255,255,255,0.05); border-radius: 12px; padding: 25px; margin-bottom: 30px; text-align: center;\">\n    <h3 style=\"color: #ffffff; margin-bottom: 20px; font-size: 18px;\">🚀 Get Started</h3>\n    <div style=\"margin-bottom: 20px;\">\n      <a href=\"https://shonen-ark.com/theories\" style=\"display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: #ffffff; text-decoration: none; padding: 12px 24px; border-radius: 8px; font-weight: 600; margin: 0 8px 8px 8px; transition: all 0.3s ease;\">Explore Theories</a>\n      <a href=\"https://shonen-ark.com/discovery\" style=\"display: inline-block; background: linear-gradient(135deg, #d4af37 0%, #f4d03f 100%); color: #1a1a2e; text-decoration: none; padding: 12px 24px; border-radius: 8px; font-weight: 600; margin: 0 8px 8px 8px;\">Discover Content</a>\n    </div>\n    <a href=\"https://shonen-ark.com/account/onboarding\" style=\"color: #d4af37; text-decoration: underline; font-size: 14px;\">Complete your profile setup →</a>\n  </div>\n\n  <!-- Account Details -->\n  <div style=\"background: rgba(255,255,255,0.03); border-radius: 8px; padding: 20px; margin-bottom: 30px; font-size: 14px;\">\n    <h4 style=\"color: #d4af37; margin: 0 0 12px 0;\">👤 Account Details</h4>\n    <p style=\"color: #b0b0b0; margin: 4px 0;\"><strong>Email:</strong> {{$json.data.email}}</p>\n    <p style=\"color: #b0b0b0; margin: 4px 0;\"><strong>Account Type:</strong> {{$json.data.metadata.accountType || 'Fan'}}</p>\n    <p style=\"color: #b0b0b0; margin: 4px 0;\"><strong>Joined:</strong> {{$json.data.timestamp}}</p>\n  </div>\n\n  <!-- Support -->\n  <div style=\"border-top: 1px solid rgba(255,255,255,0.1); padding-top: 30px; text-align: center;\">\n    <p style=\"color: #888888; font-size: 14px; margin-bottom: 16px;\">Need help getting started? We're here for you!</p>\n    <div style=\"margin-bottom: 20px;\">\n      <a href=\"https://shonen-ark.com/contact\" style=\"color: #d4af37; text-decoration: none; margin: 0 12px;\">📧 Contact Support</a>\n      <a href=\"https://discord.gg/shonen-ark\" style=\"color: #d4af37; text-decoration: none; margin: 0 12px;\">💬 Join Discord</a>\n      <a href=\"https://shonen-ark.com/about\" style=\"color: #d4af37; text-decoration: none; margin: 0 12px;\">ℹ️ Learn More</a>\n    </div>\n    \n    <div style=\"margin-top: 30px; padding-top: 20px; border-top: 1px solid rgba(255,255,255,0.05);\">\n      <p style=\"color: #666666; font-size: 12px; margin: 0;\">© 2025 Shonen Ark. Built with ❤️ for the anime community.</p>\n      <p style=\"color: #666666; font-size: 12px; margin: 8px 0 0 0;\">\n        <a href=\"https://shonen-ark.com/unsubscribe?email={{$json.data.email}}\" style=\"color: #888888; text-decoration: underline;\">Unsubscribe</a> | \n        <a href=\"https://shonen-ark.com/terms\" style=\"color: #888888; text-decoration: underline;\">Terms</a> | \n        <a href=\"https://shonen-ark.com/privacy\" style=\"color: #888888; text-decoration: underline;\">Privacy</a>\n      </p>\n    </div>\n  </div>\n</div>"
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [680, 420],
      "credentials": {
        "smtp": {
          "id": "smtp-config",
          "name": "SMTP Configuration"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "user_activity",
        "columns": "user_id, activity_type, metadata",
        "additionalFields": {
          "returnFields": "*"
        }
      },
      "id": "log-signup",
      "name": "Log Signup Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"text\": \"🎉 New user signup!\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*New Shonen Ark User* 🌸\\n\\n*Name:* {{$json.data.name}}\\n*Email:* {{$json.data.email}}\\n*Provider:* {{$json.data.provider}}\\n*Account Type:* {{$json.data.metadata.accountType || 'Fan'}}\\n*Source:* {{$json.data.metadata.source || 'Direct'}}\\n*Timestamp:* {{$json.data.timestamp}}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"View User\"\n          },\n          \"url\": \"https://shonen-ark.com/admin/users/{{$json.data.userId}}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "notify-admin",
      "name": "Notify Admin (Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Welcome email sent and user data processed\",\n  \"data\": {\n    \"userId\": \"{{$json.data.userId}}\",\n    \"email\": \"{{$json.data.email}}\",\n    \"welcomeEmailSent\": true,\n    \"newsletterSubscribed\": true,\n    \"adminNotified\": true,\n    \"timestamp\": \"{{$now}}\"\n  }\n}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Invalid event type\",\n  \"message\": \"Expected 'user.signup' event\",\n  \"received\": \"{{$json.event}}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 480]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Event": {
      "main": [
        [
          {
            "node": "Insert User to Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add to Newsletter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User to Database": {
      "main": [
        [
          {
            "node": "Notify Admin (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Newsletter": {
      "main": [
        [
          {
            "node": "Log Signup Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Log Signup Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Signup Activity": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin (Slack)": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "America/New_York"
  },
  "tags": [
    {
      "id": "user-management",
      "name": "User Management"
    },
    {
      "id": "notifications",
      "name": "Notifications"
    }
  ]
}
